body {
	background-color: #509ca0;
	font-family: 'Montserrat', sans-serif;
}

table {
	margin: auto;
	border: 2px solid #509ca0;
	border-collapse: collapse;
	width: 90%;
}

div.container div.row:nth-child(1) {
	background-color: #509ca0;
	color: white;
	height: 50px;
}

div.container, div.row  {
	border: 2px solid #509ca0;
}

div.container div.row:nth-child(even) {
	background-color: rgba(80, 156, 160,0.15);
}

#main_list {
	background-color: white;
	border-radius: 20px;
	text-align: center;
	width: 50%;
	padding: 10px 0px 20px 0px;
	margin: 20px auto 20px;
}

#items_header {
	color: #509ca0;
	font-size: 5vw;
}

.movie_posters {
	height: 10vw;
	width: 10vw;
	margin: auto;
}

.table_text {
	font-size: 2vw;
}

.list_icon {
	width: 4vw;
	height: 4vw;
}