body {
	background-color: #509ca0;
	font-family: 'Montserrat', sans-serif;
	margin-top: 10%;
}

input{
	color: #509ca0;
}

#container {
	background-color: white;
	border-radius: 20px;
	text-align: center;
	width: 50%;
	padding: 10px 0px 20px 0px;
	margin: auto;
}

#login_header {
	color: #509ca0;
	margin-top: 0px;
}

#statement {
	color: #509ca0;
	font-size: 20px;
}

#submit_button {
	height: 40px;
	width: 100px;
	background-color: #509ca0;
	color: white;
	border-color: #509ca0;
	border-radius: 20px;
}

.form_input {
	border-color: #509ca0;
	border-radius: 5px;
	height: 25px;
}